#!/bin/bash
cd ~/Downloads/
# Unzip zipped FB2 files
find . -name '*fb2.zip' -exec unzip {} \;
mv *.fb2.zip ~/.Trash
# Add hyphens into FB2
#find . -name '*.fb2' -exec ~/projects/kindle-hyphens/main.py {} {} \;
# Convert to AZW3
find . -name '*.fb2' -exec /Applications/calibre.app/Contents/MacOS/ebook-convert {} {}.azw3 --share-not-sync --no-inline-fb2-toc \;
# Change AZW3 title to include optional series
find . -name '*.fb2' -exec ~/projects/kindle-hyphens/append_series.py {} \;
mv *.fb2 ~/.Trash
